.ex-shinsei-ichiran-compact tr {
	height: 49px !important;
}

.ex-shinsei-ichiran-compact th {
	background-color: rgb(255, 247, 235) !important;
}

.ex-shinsei-ichiran-compact td {
	background-color: rgb(255, 247, 235) !important;
}